{% extends "parent.njk" %}
{% block head %}
{% endblock %}
{% block page_name %}Edit {{ item_type }}{% endblock %}

{% block body %}
<div class="content-section">
<form method="POST" action="">
    <input type="hidden" name="_csrf" value={{ crsfToken }} />
    <fieldset class="form-group">
        <legend>Make updates and then click Submit.</legend>
        <div class="form-group"
        {% if item_type != "time" %}
        style="display:none"
        {% endif %}
        >
            {{ form.start.label("form-control-label") | safe }}
            {{ form.start.field("form-control form-control-lg", item["start"]) | safe }}
        </div>
        <div class="form-group"
        {% if item_type != "time" %}
        style="display:none"
        {% endif %}
        >
            {{ form.stop.label("form-control-label") | safe }}
            {{ form.stop.field("form-control form-control-lg", item["stop"]) | safe }}
        </div>
        <div class="form-group"
        {% if item_type not in ["time", "project"] %}
        style="display:none"
        {% endif %}
        >
            {{ form.project.label("form-control-label") | safe }}
            {{ form.project.field("form-control form-control-lg", item["item_name"]) | safe }}
        </div>
        <div class="form-group"
        {% if item_type not in ["time", "task"] %}
        style="display:none"
        {% endif %}
        >
            {{ form.task.label("form-control-label") | safe }}
            {{ form.task.field("form-control form-control-lg", item["task"]) | safe }}
        </div>
        <div class="form-group"
        {% if item_type not in ["time", "note"] %}
        style="display:none"
        {% endif %}
        >
            {{ form.note.label("form-control-label") | safe }}
            {{ form.note.field("form-control form-control-lg", item["note"]) | safe }}
        </div>
        <div class="form-group"
        {% if item_type not in ["time"] %}
        style="display:none"
        {% endif %}
        >
            {{ form.adjacent.field() }}
            {{ form.adjacent.label() }}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit.field("btn btn-outline-info") | safe }}
        <a href="{{domain}}/adjust/" class="btn btn-outline-info">Cancel</a>
    </div>
</form>
</div>
{% endblock body %}