{% extends "parent.njk" %}
{% block head %}
{% endblock %}
{% block page_name %}Register for TimeClock Account{% endblock %}

{% block body %}
<div class="content-section">
    <form method="POST" action="">
        <input type="hidden" name="_csrf" value={{ crsfToken }} />
        <fieldset class="form-group">
            <legend>Login To Access Additional Site Features!</legend>
            <div class="form-group">
                {{ form.user_name.label('form-control-label') | safe }}
                {{ form.user_name.field('form-control form-control-lg') | safe}}
            </div>
            <div class="form-group">
                {{ form.password.label('form-control-label') | safe }}
                {{ form.password.field('form-control form-control-lg') | safe}}
            </div>
            <div class="form-check">
                {{ form.remember.field('form-check-input') | safe}}
                {{ form.remember.label('form-check-label') | safe }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit.field('btn btn-outline-info') | safe}}
        </div>
        <small class="text-muted ml-2">
            <a href="#">Forgot Password</a>
        </small> <br />
        <small class="text-muted ml-2">
            Need to <a href="{{domain}}/users/register">Register</a>
        </small>
        
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
    </small>
</div>
{% endblock body %}