{% extends "parent.njk" %}
{% block head %}
{% endblock %}
{% block page_name %}Register for TimeClock Account{% endblock %}

{% block body %}

<div class="content-section">
    <form method="POST" action="">
        <input type="hidden" name="_csrf" value={{ crsfToken }} />
        <fieldset class="form-group">
            <legend>Register to Access Additional Site Features!</legend>
            <div class="form-group">
                {{ form.user_name.label('form-control-label') | safe }}
                {{ form.user_name.field('form-control form-control-lg') | safe}}
            </div>
            <div class="form-group">
                {{ form.email.label('form-control-label') | safe }}
                {{ form.email.field('form-control form-control-lg') | safe}}
            </div>
            <div class="form-group">
                {{ form.timezone.label('form-control-label') | safe }}
                {{ form.timezone.field('form-control form-control-lg') | safe}}
            </div>
            <div class="form-group">
                {{ form.password.label('form-control-label') | safe }}
                {{ form.password.field('form-control form-control-lg') | safe}}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label('form-control-label') | safe }}
                {{ form.confirm_password.field('form-control form-control-lg') | safe}}
            </div>
        </fieldset>
         <div class="form-group">
            {{ form.submit.field('btn btn-outline-info') | safe}}
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a href={{ domain + "/users/login"}}>Log In</a>
    </small>
</div>
{% endblock body %}