{% extends "parent.njk" %}
{% block head %}
{% endblock %}
{% block page_name %}Node Express Time Clock{% endblock %}

{% block body %}
<div class="content-section">
    <div id="media content-section">
        <h1><a href={{ domain + "/users/register" }}>Register</a> or 
            <a href={{ domain + "/users/login" }}>Login</a> to use TimeClock</h1>
    </div>
</div>
{% endblock body %}